@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #edf3f8;
}

header {
  width: 90%;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

nav {
  display: none;
}

nav a {
  font-family: "Public Sans", sans-serif;
  text-decoration: none;
  color: #36536b;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.5px;
  opacity: 70%;
}

.logo {
  margin-right: 64px;
}

.schedule-demo-button {
  background-color: #ba4270;
  padding: 16px 24px 14px 26px;
  border-radius: 24px;
  color: #fbfcfe;
  margin-left: auto;
}

.phone-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

main h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: #36536b;
  margin-bottom: 24px;
  text-align: center;
}

.hero-section {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}

.phone-illustration {
  /* width: 55%; */
  margin: auto;
  height: 240px;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.schedule-demo-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Public Sans", serif;
  font-size: 15px;
  line-height: 17.63px;
}

form input {
  margin-bottom: 16px;
  font-weight: 700;
  padding: 16px 158px 14px 27px;
  border-radius: 24px;
  border: solid transparent;
  color: #36536b;
  opacity: 50%;
  background-color: #fbfcfe;
  box-shadow: 2px 3px 3px 2px;
}

.main-schedule-button {
  padding: 16px 46px 14px 50px;
  border-radius: 24px;
  border: solid transparent;
  background-color: #ba4270;
  font-weight: 700;
  color: #fbfcfe;
}

.main-wrapper p {
  font-family: "Public Sans", serif;
  margin-top: 16px;
  color: #6c8294;
  font-weight: 400;
  font-size: 15px;
  line-height: 17.63px;
  margin-bottom: 80px;
}
.main-wrapper span {
  font-weight: 700;
}

.partners-section {
  background-color: #1b262f;
  margin-bottom: 80px;
}

.article-wrapper {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 1100px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 16px;
  margin-left: 16px;
}

.logo-spacing {
  margin-bottom: 40px;
}

.more-info {
  text-align: center;
  color: #fbfcfe;
}

.more-info h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.25px;
  margin-bottom: 16px;
  font-family: "DM Serif Display", serif;
}

.more-info p,
a {
  font-family: "Public Sans", serif;
}

.more-info p {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  opacity: 70%;
  margin-bottom: 32px;
}

.more-info a {
  text-decoration: none;
  padding: 16px 32px 16px 32px;
  border: solid 1px #fbfcfe;
  border-radius: 24px;
  color: #fbfcfe;
}

.first-features-section,
.second-features-section {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 80px;
}

.first-features-section h2 {
  color: #36536b;
  font-weight: 400;
  font-family: "DM Serif Display", serif;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.28px;
  margin-bottom: 24px;
}

.second-features-section h2 {
  color: #36536b;
  font-weight: 400;
  font-family: "DM Serif Display", serif;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.28px;
  margin-bottom: 24px;
}

.second-features-section,
.first-features-section p {
  color: #6c8294;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  font-family: "Public Sans", serif;
}

.terminal,
.illustration-simple-ui {
  margin-bottom: 48px;
}

.advantages-section {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 80px;
}

.advantages-image {
  margin-bottom: 32px;
}

.advantages-title {
  font-family: "Public Sans", serif;
  color: #36536b;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.14px;
  margin-bottom: 16px;
}

.advantage-paragraph {
  color: #6c8294;
  font-family: "Public Sans", serif;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.12px;
  margin-bottom: 48px;
}

.start-now {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start-now h2 {
  font-family: "DM Serif Display", serif;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.25px;
  color: #36536b;
  margin-bottom: 32px;
}

.start-now-form-input {
  font-size: 14px;
  font-weight: 700;
  padding: 16px 28px;
  border-radius: 24px;
  border: solid transparent;
  color: #36536b;
  background-color: #fbfcfe;
  box-shadow: 2px 3px 3px 2px;
  font-family: "Public Sans", serif;
  margin-bottom: 16px;
  width: 100%;
}

.start-now-form button {
  font-family: "Public Sans", serif;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 24px;
  border: solid transparent;
  background-color: #ba4270;
  font-weight: 700;
  color: #fbfcfe;
  font-size: 14px;
  line-height: 17.63px;
  width: 100%;
}

footer {
  background-color: #1b262f;
  padding-top: 48px;
}

.footer-logo {
  margin-bottom: 48px;
}

.footer-content {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
}

.footer-links a {
  text-decoration: none;
  color: #fbfcfe;
  opacity: 70%;
  font-weight: 700;
  font-size: 15px;
  line-height: 17.63px;
}

.footer-media {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 40px;
}

.media-spacing {
  margin-right: 24px;
}

.footer-spacing {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
    width: 100%;
  }

  nav a {
    font-weight: 700;
    font-size: 15px;
    line-height: 17.5px;
  }

  header {
    justify-content: normal;
    margin-bottom: 48px;
  }

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .menu-icon {
    display: none;
  }

  .logo {
    margin-right: 64px;
  }

  .phone-illustration {
    height: 300px;
    margin-bottom: 48px;
  }

  .schedule-demo-form {
    flex-direction: row;
  }

  .main-wrapper h1 {
    font-size: 48px;
    line-height: 56px;
    flex-direction: column-reverse;
    margin-bottom: 22px;
  }

  .main-wrapper-form {
    margin-bottom: 0;
  }

  .schedule-demo-form {
    position: relative;
  }

  .main-schedule-button {
    position: absolute;
    right: 64px;
  }

  .main-wrapper-form {
    padding-right: 326px;
  }

  .logo-wrapper {
    max-width: 536px;
  }

  .first-features-section,
  .second-features-section {
    width: 80%;
  }
  .easy-to-implement-title,
  .simple-ui-ux-title {
    font-size: 48px;
  }

  .advantages-part {
    width: 30%;
  }

  .advantages-section {
    display: flex;
    justify-content: space-between;
  }

  .start-now {
    width: 60%;
  }

  .start-now-form {
    position: relative;
    flex-direction: row;
    width: 100%;
  }

  .start-now-form-input {
    /* max-width: 445px; */
  }

  .start-now-form button {
    position: absolute;
    top: 0;
    right: 0;
    width: unset;
    display: inline-block;
    padding-left: 32px;
    padding-right: 32px;
  }

  footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .footer-links {
    display: inline;
    margin-bottom: 0;
  }

  .footer-spacing {
    margin-right: 40px;
  }

  .footer-media {
    padding-bottom: 0;
  }

  .footer-logo {
    margin-bottom: 0;
    margin-right: 64px;
  }
  .footer-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  header {
    width: 90%;
    max-width: 1100px;
    justify-content: normal;
    margin-bottom: 54px;
  }

  nav {
    width: 100%;
  }

  .phone-illustration {
    height: 500px;
  }

  .schedule-demo-button {
    margin-left: auto;
  }

  .schedule-demo-form {
    position: relative;
  }

  .main-wrapper-form {
    width: 657px;
  }

  .main-wrapper h1 {
    text-align: left;
    font-size: 72px;
    margin-bottom: 26px;
    line-height: 72px;
  }

  section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .main-schedule-button {
    position: absolute;
    right: 104px;
    top: 0;
  }

  .article-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .more-info {
    text-align: left;
    max-width: 445px;
  }

  .more-info h1 {
    font-size: 48px;
    line-height: 56px;
    line-height: -0.37px;
  }

  .first-features-section,
  .second-features-section {
    width: 70%;
  }

  .logo-wrapper {
    margin: 0;
  }

  .first-features-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .second-features-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
  }

  .first-features-content,
  .second-features-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 33%;
  }

  .easy-to-implement-title {
    font-size: 48px;
    line-height: 56px;
  }

  .second-features-content h2 {
    font-size: 48px;
    line-height: 56px;
  }

  .advantages-section {
    width: 70%;
  }

  .advantages-part {
    width: 30%;
  }
}
