@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #edf3f8;
}

header {
  width: 90%;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: none;
}

nav a {
  font-family: "Public Sans", sans-serif;
  text-decoration: none;
  color: #36536b;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.5px;
  opacity: 70%;
}

.logo {
  margin-right: 64px;
}

.schedule-demo-button {
  background-color: #ba4270;
  padding: 16px 24px 14px 26px;
  border-radius: 24px;
  color: #fbfcfe;
  margin-left: auto;
}

main {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.phone-picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

main h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: #36536b;
  margin-bottom: 24px;
  text-align: center;
}

.phone-illustration {
  /* width: 55%; */
  margin: auto;
  height: 240px;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.schedule-demo-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Public Sans", serif;
  font-size: 15px;
  line-height: 17.63px;
  margin-bottom: 16px;
}

form input {
  margin-bottom: 16px;
  font-weight: 700;
  padding: 16px 158px 14px 27px;
  border-radius: 24px;
  border: solid transparent;
  color: #36536b;
  opacity: 50%;
  background-color: #fbfcfe;
  box-shadow: 2px 3px 3px 2px;
}

form button {
  padding: 16px 46px 14px 50px;
  border-radius: 24px;
  border: solid transparent;
  background-color: #ba4270;
  font-weight: 700;
  color: #fbfcfe;
}

.main-wrapper p {
  font-family: "Public Sans", serif;
  color: #6c8294;
  font-weight: 400;
  font-size: 15px;
  line-height: 17.63px;
}
.main-wrapper span {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
    width: 100%;
  }

  nav a {
    font-weight: 700;
    font-size: 15px;
    line-height: 17.5px;
  }

  header {
    justify-content: normal;
  }

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .menu-icon {
    display: none;
  }

  .logo {
    margin-right: 64px;
  }

  main {
    width: 80%;
  }

  .phone-illustration {
    height: 300px;
  }

  .schedule-demo-form {
    flex-direction: row;
  }

  .main-wrapper h1 {
    font-size: 48px;
    line-height: 56px;
    flex-direction: column-reverse;
  }

  form input {
    margin-bottom: 0;
  }

  .schedule-demo-form {
    position: relative;
  }

  form button {
    position: absolute;
    right: 64px;
  }

  .schedule-demo-form input {
    padding-right: 326px;
  }
}

@media screen and (min-width: 1024px) {
  header {
    width: 80%;
    max-width: 1110px;
    justify-content: normal;
    margin-bottom: 54px;
  }

  nav {
    width: 100%;
  }

  .phone-illustration {
    height: 500px;
  }

  .schedule-demo-button {
    margin-left: auto;
  }

  .schedule-demo-form {
    position: relative;
  }

  .schedule-demo-form input {
    width: 753px;
  }

  .main-wrapper h1 {
    text-align: left;
    font-size: 72px;
    margin-bottom: 26px;
    line-height: 72px;
  }

  section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  form button {
    position: absolute;
    right: 104px;
    top: 0;
  }
}
